<!doctype html>
<html lang="en">
  <head>
    <title>Kurvorama</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      textarea {
        display:block;
        margin-bottom: 20px;
      }

      form div {
        float:left;
        margin-right: 20px;
      }

      input {
        display: block;
        clear:both;
        margin-top: 20px;
      }

      .container {
        margin-top: 50px;
      }
    </style>
    <script src="https://unpkg.com/freezeframe/dist/freezeframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cash-dom@4.1.2/dist/cash.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="">
        <h1>Kurvorama</h1>
      </div>

      <form method="post">
        <div>
          <label for="faste_medisiner">Faste medisiner</label> <p class="warning" style="display: inline; visibility:hidden; color:red;">Stopp! For lang ordinering.</p>
          <textarea rows="15" cols="70" name="faste_medisiner" id="faste_medisiner"></textarea>
        </div>
        <div>
          <label for="behovsmedisiner">Behovsmedisiner</label>
          <textarea rows="10" cols="42"  name="behovsmedisiner" id="behovsmedisiner"></textarea>
        </div>
        <input type="submit" value="Lag kurve!">
      </form>
      <p></p>
      <p>Lim inn og skriv ut! Hvis du legger inn mer enn 15 faste medisiner, genereres flere kurveark.  Brukes på eget ansvar. God vakt! <a id="instructions-link" href="#">
        Vis instruksjonsfilm</a>.
      <p id="instructions" style="visibility: hidden">
        <img id="instructions-video" src="https://rawcdn.githack.com/eskildskov/kurvorama/d2b1c9e5145fbb480982bee8514329125494e827/instructions.gif" alt="Instruksjoner" />
      </p>
    </div>

    <script>
      var maxLength = 80;
        $('textarea#faste_medisiner').on('input keyup', function() {
          var text = $(this).val();
          var lines = text.split(/(\r\n|\n|\r)/gm);
          for (var i = 0; i < lines.length; i++) {
            if (lines[i].length > maxLength) {
              $('.warning').css('visibility', 'visible');
              break
            }
            else {
              $('.warning').css('visibility', 'hidden');
            }
        }
    });

    $('#instructions-link').on("click", function(){
      $('#instructions').css("visibility", "visible");
      window.scrollTo(0, document.body.scrollHeight);
      return false;
    });
    
    const logo = new Freezeframe('#instructions-video', {
        trigger: "click",
        overlay: true,
      });
    </script>
  </body>
</html>
